In [62]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
import time

In [63]:
options = webdriver.ChromeOptions()
options.add_argument('--headless')
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')
driver = webdriver.Chrome('/chromedriver',options=options)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  """

In [64]:
driver.get("https://understat.com/league/EPL")
time.sleep(3)

In [65]:
time.sleep(3)

date_start = driver.find_elements_by_xpath("""//*[@class="datepicker hasDatepicker"]""")

date = "May 2, 2022"

date_start[0].clear()
date_start[0].send_keys(date)
date_start[0].send_keys(Keys.ENTER)
date_start[0].send_keys(Keys.ENTER)

date_start[1].clear()
date_start[1].send_keys(date)
date_start[1].send_keys(Keys.ENTER)
date_start[1].send_keys(Keys.ENTER)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:3: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [66]:
xG = driver.find_elements_by_xpath('//div[@id="league-chemp"]//table/tbody//td[@class="align-right nowrap"]')
xG[0].text

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  """Entry point for launching an IPython kernel.

'1.84-1.16'

In [67]:
time.sleep(5)
team_list = []
match_or_not_list = []

for i in range(1, 21):
    xpath_str = '//*[@id="league-chemp"]/table/tbody/tr[{}]/td[2]/a'.format(i)
    xpath_match = '//*[@id="league-chemp"]/table/tbody/tr[{}]/td[3]'.format(i)
    team = driver.find_elements_by_xpath(xpath_str)
    match = driver.find_elements_by_xpath(xpath_match)
    team = team[0].text
    match = match[0].text
    
    team_list.append(team)
    match_or_not_list.append(match)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:8: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:9: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  if __name__ == "__main__":

In [68]:
match_or_not_list

['1',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '1']

In [69]:
xG_list, xA_list, xPTS_list = [], [], []
for i in range(len(xG)):
    
    xG_temp = xG[i].text
    if '-' in xG_temp:
        index = xG_temp.find('-')
        xG_temp = xG_temp[0:index]
    if '+' in xG_temp:
        index = xG_temp.find('+')
        xG_temp = xG_temp[0:index]
        
    if i % 3 == 0:
        xG_list.append(xG_temp)
    elif i % 3 == 1:
        xA_list.append(xG_temp)
    else:
        xPTS_list.append(xG_temp)

In [70]:
xPTS_list

['2.36',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.44']

In [71]:
## 날짜 전처리
# 월 전처리

date_temp = date.replace(",", "")
date_temp = date_temp.split()

month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
for month in month_list:
    if date_temp[0] == month:
        index = month_list.index(month)+1
        index = str(index).zfill(2)
index

'05'

In [72]:
## 날짜 전처리
# date = "May 2, 2022"

date_day = date_temp[1].zfill(2)
date_pretreat = "{}/{}/{}".format(date_day, index, date_temp[2])
date_pretreat

'02/05/2022'

In [73]:
import numpy as np
import pandas as pd

# 최종 리스트 선언
df_temp = [[0 for col in range(6)] for row in range(20)]

for i in range(20):
    df_temp[i][0] = date_pretreat
    df_temp[i][1] = team_list[i]
    df_temp[i][2] = xG_list[i]
    df_temp[i][3] = xA_list[i]
    df_temp[i][4] = xPTS_list[i]
    df_temp[i][5] = match_or_not_list[i]
    
# df_temp_np = np.array(df_temp)
# df_temp_np
df_temp

[['02/05/2022', 'Manchester United', '1.84', '0.68', '2.36', '1'],
 ['02/05/2022', 'Aston Villa', '0.00', '0.00', '0.00', '0'],
 ['02/05/2022', 'Everton', '0.00', '0.00', '0.00', '0'],
 ['02/05/2022', 'Southampton', '0.00', '0.00', '0.00', '0'],
 ['02/05/2022', 'Leicester', '0.00', '0.00', '0.00', '0'],
 ['02/05/2022', 'Crystal Palace', '0.00', '0.00', '0.00', '0'],
 ['02/05/2022', 'Norwich', '0.00', '0.00', '0.00', '0'],
 ['02/05/2022', 'Chelsea', '0.00', '0.00', '0.00', '0'],
 ['02/05/2022', 'West Ham', '0.00', '0.00', '0.00', '0'],
 ['02/05/2022', 'Tottenham', '0.00', '0.00', '0.00', '0'],
 ['02/05/2022', 'Arsenal', '0.00', '0.00', '0.00', '0'],
 ['02/05/2022', 'Newcastle United', '0.00', '0.00', '0.00', '0'],
 ['02/05/2022', 'Liverpool', '0.00', '0.00', '0.00', '0'],
 ['02/05/2022', 'Manchester City', '0.00', '0.00', '0.00', '0'],
 ['02/05/2022', 'Watford', '0.00', '0.00', '0.00', '0'],
 ['02/05/2022', 'Burnley', '0.00', '0.00', '0.00', '0'],
 ['02/05/2022', 'Brighton', '0.00', '0.00', '0.00', '0'],
 ['02/05/2022', 'Wolverhampton Wanderers', '0.00', '0.00', '0.00', '0'],
 ['02/05/2022', 'Leeds', '0.00', '0.00', '0.00', '0'],
 ['02/05/2022', 'Brentford', '0.68', '1.84', '0.44', '1']]

In [74]:
df_temp_final = df_temp.copy()

for i in reversed(range(len(df_temp_final))):
    if df_temp_final[i][5] == '0':
        del df_temp_final[i]

df_temp_final

[['02/05/2022', 'Manchester United', '1.84', '0.68', '2.36', '1'],
 ['02/05/2022', 'Brentford', '0.68', '1.84', '0.44', '1']]

In [75]:
df = pd.DataFrame(df_temp_final, columns=['Date', 'Team', 'xG', 'xA', 'xPTS', 'match_or_not'])
df

         Date               Team    xG    xA  xPTS match_or_not
0  02/05/2022  Manchester United  1.84  0.68  2.36            1
1  02/05/2022          Brentford  0.68  1.84  0.44            1

In [76]:
df2 = pd.DataFrame(columns=['Date', 'Team', 'xG', 'xA', 'xPTS', 'match_or_not'])
df2

Empty DataFrame
Columns: [Date, Team, xG, xA, xPTS, match_or_not]
Index: []

In [77]:
result = pd.concat([df2, df])
result

         Date               Team    xG    xA  xPTS match_or_not
0  02/05/2022  Manchester United  1.84  0.68  2.36            1
1  02/05/2022          Brentford  0.68  1.84  0.44            1